.back-img {
  background-image: url(imgs/about-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.lim-card {
  width: 58%;
  margin: auto;
  border-radius: 5px;
  overflow: hidden;
}

.top-card {
  height: 160px;
  background-color: #e9ecef;
  opacity: 0.5;
  filter: blur(1px);
}

.lim-card .name-and-own-quote img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid #fff;
}

.lim-card .name-and-own-quote {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  gap: 32px;
}

.wrap-quote {
  padding: 120px 34px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.lim-card .name-and-own-quote svg {
  width: 28px;
  height: 28px;
  margin-bottom: 22px;
}

.lim-card p {
  padding: 0;
  margin: 0;
  text-align: center;
}

.my-quote {
  font-size: 24px;
}

.wrap-quote .my-name {
  margin-top: 22px;
}

.my-social svg {
  margin: 0 6px;
}
